.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
}

.logo {
  color: rgba(10, 10, 10, 0.774);
  font-size: 2.5rem;
  margin: 1rem;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 1rem;
}

.search-form input {
  width: 20rem;
  height: 3.5rem;
  border: none;
  border-radius: 5px;
  background: rgba(216, 216, 216, 0.671);
  outline: none;
  transition: background 0.45s ease-in,
              border 0.45s ease-in;
}

.search-form input:focus {
  background: #fff;
  border: 2px solid rgba(8, 53, 175, 0.753);
}

.search-form button {
  background: none;
  border: none;
  font-size: 2rem;
  position: absolute;
  right: 10px;
  top: 8px;
  cursor: pointer;
  color: blue;
}

.top-artists,
.top-tracks {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.top-tracks {
  margin-top: -5rem;
}

.top-artists h2,
.top-tracks h2 {
  width: 100%;
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: -5rem;
}

.artists-list,
.tracks {
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.all-artists {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.artist,
.track {
  position: absolute;
  width: 16rem;
  max-height: 19rem;
  padding: 0.5rem;
  transition: all 0.5s ease-in;
}

.artist-all {
  width: 50%;
}

.artist p,
.artist-all p,
.track p {
  position: absolute;
  color: #fff;
  font-size: 1.6rem;
  width: 94%;
  padding: 1rem 0;
  margin-top: -40px;
  background: rgba(10, 10, 10, 0.474);
}

.artist p {
  top: 4.5rem;
}

.track p {
  margin: 0;
  top: 5px;
}

.artist-all p {
  position: relative;
  width: 100%;
  bottom: 0;
}

.artist:hover,
.track:hover {
  transform: scale(1.22,1.25);
  z-index: 1000;
}

.artist img,
.artist-all img,
.track img {
  width: 100%;
  height: auto;
}

.next,
.prev,
.next-track {
  background: rgba(10, 10, 10, 0.774);
  border: none;
  position: absolute;
  right: 0;
  height: 15.5rem;
  width: 6rem;
  color: #fff;
  font-size: 1.75rem;
  opacity: 0;
  transition: opacity 0.4s ease-in;
  outline: none;
}

.prev {
  left: 0;
}

.top-artists:hover .next,
.top-artists:hover .prev,
.top-tracks:hover .next-track {
  opacity: 1;
  z-index: 10000;
}

.see-all {
  background: #fff;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  color: rgb(27, 64, 121);
}

.details-artist {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  font-size: 3rem;
  margin: 0 auto;
  cursor: pointer;
  z-index: 99999;
  color: #fff;
}

.details {
  background: rgba(14, 13, 13, 0.767);
  width: 100%;
  margin-top: -8rem;
  animation: grow 0.5s ease-in;
  margin-bottom: 5rem;
  padding: 1rem;
}

.details img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: block;
  margin: 1rem auto;
  animation: fade-in 0.5s ease-in;
}

.details p {
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  margin-top: 1rem;
}

.track:hover .details-track {
  opacity: 1;
}

.top-tracks-artist {
  width: 100%;
  padding: 1rem 0;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid rgba(255, 255, 255, 0.527);
}

.top-tracks-artist li {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  background: rgb(26, 25, 25);
}

.top-tracks-artist li img {
  border-radius: 5px;
  width: 20%;
  height: 5rem;
}

.top-tracks-artist li p {
  width: 50%;
  margin-left: 1rem;
  text-align: left;
  font-size: 1.3rem;
}

.play-music {
  width: 3rem;
  height: 3rem;
  color: #fff;
  cursor: pointer;
  margin-right: 3rem;
}

.video-track {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 9999;
}

@media(min-width: 560px) {
  .artist-all {
    width: 33.3333%;
  }
  .top-tracks-artist li {
    width: 45%;
  }
}

@media(min-width: 760px) {
  .artist-all {
    width: 25%;
  }
  .top-tracks-artist li {
    width: 30%;
  }
  .video-track {
    margin: 1rem;
    width: 50%;
    right: 0;
    height: 40rem;
  }
}

@media(min-width: 960px) {
  .artist-all {
    width: 20%;
  }
  .top-tracks-artist li {
    width: 23%;
  }
  .video-track {
    width: 40%;
    height: 30rem;
  }
}

@keyframes slide {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    height: 0;
  }

  100% {
    height: 25rem;
  }
}