.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
}

.logo {
  color: rgba(10, 10, 10, 0.774);
  font-size: 2.5rem;
  margin: 1rem;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 1rem;
}

.search-form input {
  width: 20rem;
  height: 3.5rem;
  border: none;
  border-radius: 5px;
  background: rgba(216, 216, 216, 0.671);
  outline: none;
  transition: background 0.45s ease-in,
              border 0.45s ease-in;
}

.search-form input:focus {
  background: #fff;
  border: 2px solid rgba(8, 53, 175, 0.753);
}

.search-form button {
  background: none;
  border: none;
  font-size: 2rem;
  position: absolute;
  right: 10px;
  top: 8px;
  cursor: pointer;
  color: blue;
}

.intro {
  width: 100%;
  height: 30rem;
  background: linear-gradient(to bottom, rgb(19, 45, 102),rgb(8, 77, 180));
}

.intro h2 {
  color: rgba(255, 255, 255, 0.849);
  font-size: 2.5rem;
  text-align: center;
  margin-top: 3rem;
}

.top-artists {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tracks{
  padding: 1rem;
}

.top-artists h2,
.tracks h2 {
  width: 100%;
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: -5rem;
}

.tracks h2{
  margin: 0;
  margin-bottom: 25rem;
}

.artists-list {
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.all-artists {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.artist {
  position: absolute;
  width: 16rem;
  max-height: 19rem;
  padding: 0.5rem;
  transition: all 0.5s ease-in;
}

.artist-all {
  width: 50%;
}

.artist p,
.artist-all p {
  position: absolute;
  color: #fff;
  font-size: 1.6rem;
  width: 94%;
  padding: 1rem 0;
  margin-top: -40px;
  background: rgba(10, 10, 10, 0.474);
}

.artist-all p {
  position: relative;
  width: 100%;
}

.artist:hover {
  transform: scale(1.22,1.25);
  z-index: 1000;
}

.artist img,
.artist-all img,
.track img {
  width: 100%;
  height: auto;
}

.next,
.prev,
.next-track {
  background: rgba(10, 10, 10, 0.774);
  border: none;
  position: absolute;
  right: 0;
  height: 15.5rem;
  width: 6rem;
  color: #fff;
  font-size: 1.75rem;
  opacity: 0;
  transition: opacity 0.4s ease-in;
  outline: none;
}

.prev {
  left: 0;
}

.top-artists:hover .next,
.top-artists:hover .prev,
.tracks:hover .next-track {
  opacity: 1;
  z-index: 10000;
}

.see-all {
  background: #fff;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  color: rgb(27, 64, 121);
}

.tracks {
  height: 29rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 
}

.top-tracks {
  width: 100%;
  padding: 1rem;
  overflow-x: visible;
  white-space: nowrap;
  transition: all 0.45s ease-out;
}

.top-tracks .track {
  width: 50%;
  display: inline-block;
  white-space: normal;
  position: relative;
  z-index: 1;
  transition: all 0.45s ease-in;
  vertical-align: top;
  animation: slide 0.45s ease-in;
}

.top-tracks .track p {
  position: absolute;
  top: 40px;
  color: #fff;
  font-size: 1.6rem;
  width: 100%;
  padding: 1rem 0;
  margin-top: -40px;
  background: rgba(10, 10, 10, 0.474);
}

.top-tracks .track:hover {
 margin: 0 4rem;
 transform: scale(1.2)
}

.top-tracks .track:hover .details-track {
  opacity: 1;
}

.details-track {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  font-size: 3rem;
  margin: 0 auto;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.45s ease-in;
}

@media(min-width: 560px) {
  .artist-all {
    width: 33.3333%;
  }
  .top-tracks .track {
    width: 33.3333%;
    
  }
}

@media(min-width: 760px) {
  .artist-all {
    width: 25%;
  }
  .top-tracks .track {
    width: 25%;
    
  }
}

@media(min-width: 960px) {
  .artist-all {
    width: 20%;
  }
  .top-tracks .track {
    width: 15%;
  }
}

@keyframes slide {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}